#sidebar {float: :right; position: fixed; right: 15px; bottom: 100px; z-index: 10;}
#sidebar li {list-style: none; }
#sidebar li img {height: 48px;}






*{font-family: Arial; }

*{
	margin:0;
	padding:0;
}

body {
	background: #f7f8f9;
}

.wrapper {
	width: 1300px;
	height:188px;
	margin: 0px auto;
	clear: both;
	height: auto;

}

.wrapperNarrow {
	width: 350px;
	height:188px;
	margin: 0px auto;
	clear: both;
	height: auto;
	margin-bottom: 100px;
}



/* Author */





/* Center */


#greendiv {
	float:left; 
	margin-top:150px;
	padding-right: 2px;
	height: 136px;
	width: 500px;
	display: inline;
}

#greendiv h1 {
	color: white;
	font-size: 48px;
	margin: 11px 30px 11px 30px;
	margin-top: 25vh;
}

#greendiv span {color:yellow;}

#greendiv a {
	color: white;
	border: white 2px solid;
	border-radius: 15px;
	padding: 10px 20px 10px 20px;
	margin: 25px 0px 0px 30px;
	position: absolute;
}

#greendiv i {
	font-style: normal;
}

#center {
	background-image: -webkit-radial-gradient(71% 51%,circle,#5ce1ff,#388dff 57%);
	background-position: 50% 50%;
	height: 90vh;}

#welcome {
	width: 600px;
	height: 140px;
	background-color: #00c96a;
	margin-top: 88px;
	float: left;
}

.clear {
	clear: both;
}

/* Gallery */

#images {
	width: 750px;
	margin: 15px auto;
	border: 1px solid #E0E7F1;
padding: 30px 5px;
}

#images a img{
	border: 0;
}

#gallery {
	text-align: center;
}
a.block:link, a.block:visited {
	display: inline-block;
	width: 200px;
	height: 200px;
	border: 2px solid #11b463;
	margin: 10px;
	background-color: transparent;
}

#images a {
	transition: all .2s ease-in-out; }

#images a:hover { transform: scale(1.1); }

/* Login */
#center .logspace {
	width:290px;
	height: 310px;
	border-radius: 3px;

	-moz-border-right-radius: 3px;
	-webkit-border-right-radius: 3px;
	border-right-radius: 3px;
	-moz-border-left-radius: 3px;
	-webkit-border-left-radius: 3px;
	border-left-radius: 3px;

	background: #f7f8fa;
	float: right;
	margin-top: 35px;
	margin-right: 25px;
	padding: 20px 0px 0px 30px;
	color: #3e434a;

}
.logbox {
	height: 308px;
	width: 286px;
}
.logtitle {
	height: 30px;
	line-height: 30px;
	font-size: 18px;
	margin-bottom: 19px;
}
.logtext {
	width: 250px;
	margin-bottom: 10px;
	font-size: 12px;
}
.logtext #logemail, #passw {
	color: #999;
	background: #fff;
	border: 1px solid #d6d9dc;
	font-size: 14px;
	width: 230px;
	height: 18px;
	padding: 10px 7px 10px 11px;
}
.logtext #logemail:focus, #passw:focus {
	outline:none;
	border: 1px solid #11b463;
}
.logbutton input {
	width:250px; 
	height:40px; 
	border-radius:3px; 
	background:#27ae60; 
	color:#fff; 
	font-size:16px; 
	cursor:pointer; 
	border:none;
}
.logbutton1 input {
	width:150px; 
	height:40px; 
	border-radius:3px; 
	background:#27ae60; 
	color:#fff; 
	font-size:16px; 
	cursor:pointer; 
	border:none;
	float: left;
	margin-left: 40px;
	margin-top: 10px;

}
.logbutton2 input {
	width:150px; 
	height:40px; 
	border-radius:3px; 
	background:red; 
	color:#fff; 
	font-size:16px; 
	cursor:pointer; 
	border:none;
	float: right;
	margin-right: 30px;
	margin-top: 10px;
}
.loglink, .loglink a {
	text-align: right;
	height:42px;
	width: 250px;
	line-height: 42px;
	color:#676c7b;
	font-size: 12px;
	text-decoration:none;
}
.loglink a {

}

/* Sadrzaj */

/* FAQ */

/* Footer */

#bottomfooter, footer {
	height: 38px;
	text-align: center;
	line-height:38px;
	background-color:#1e1e1e;
	color:#777;
}

#bottomfooter a{
	text-decoration: none;
	color:#80879B;
}

#links{
	background:#fff; 
	padding:10px 0 10px 0; 
	color:#454545; 
	line-height:25px;
	border-top:1px solid #e0e7f1;
}

#links ul {
	text-align: center;
}

#links ul li {
	list-style-type: none;
	display: inline;
	padding-left: 55px;
}

#links ul li a {
	color:#676c7b;
	text-decoration: none;
	font-size: 14px;
}

#links ul li a:hover {
	color:#27ae60;
}






/* Pocetna */


#s21{

	width: 750px;
	float: right;
	margin-top: 25vh;
	transition: 0.6s;
}

#s21:hover {
	transform: scale(1.02);
}


#partneri{
	padding: 24px 0;
}

.cleaner {
	clear: both;
}

nav ul li{
	float:left

}

nav ul li a{
	color: black;
	transition: all 0.3s cubic-bezier(0.68, 0.38, 0.21, 1.01) 0s;
	font-size: 19px;
}

nav ul li a:hover{
	color: rgb(14, 23, 102);
	transition: all 0.3s cubic-bezier(0.68, 0.38, 0.21, 1.01) 0s;
	font-size: 19px;
}

ul {
	list-style-type: none;
}

#topNavigation ul li {
	float: left;
	margin: 25px 15px;
}

#topNavigation ul li a {
	color: black;
	transition: all 0.3s cubic-bezier(0.68, 0.38, 0.21, 1.01) 0s;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 450;
	text-transform: uppercase;

}

#topNavigation ul li a:hover {
	color: rgb(246, 58, 172);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
	top: 0px;
	position: fixed;
	width: 100%;
	left: 0px;
	right: 0px;
	background-color: white;
	box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06););
	z-index: 1;
}

#logo {
	float: left;
	margin: 15px 20px;
	margin-left: 40px;
}

#logo img {
	height: 40px;
}

a {
	text-decoration: none;
}

.currentPage {
	padding: 2px 4px 2px px;
	border-bottom: #388dff 4px solid;
	padding-bottom: 23px;	
}



.navButton {
	margin: 20px 20px;
	padding: 5px 10px;
	border-radius: 18px;
	float:right;


	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 450;
	text-transform: uppercase;
}

.navButton a {
	color:black;
	font-size: 19px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-weight: 450;
	text-transform: uppercase;
}

.navButton img {
	width: 16px;
}

#NasiPartneri {
	font-weight: 700;
	font-size: 10px;
	text-transform: uppercase;
	margin-right: 22px;
	font-family: var(--primary-font);
	letter-spacing: 1px; 
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
	color:rgb(128, 128, 128)
	height: 100px;
	line-height: 45px;
	text-align: center;

}

#NasiPartneri p {
	float: left;
	text-align: center;
}

#div5g {
	height:450px
}

#div5gbox {
	width: 30%; 
	float: left; 
	box-shadow: 0 20px 40px rgba(0,0,0,.04);
	transition: 0.5s;
	border-radius: 15px;

}

#div5gbox img {
	max-width: 100%;
	height: auto;
}

#div5gbox:hover {
	transform: scale(1.1);
}

#div5gtext {
	width:70%; 
	float:right	
}

#small5g {
	width: 80%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#small5g h2 {
	font-size: 50px;
	line-height: 1.25;
	weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#small5g p {
	font-size: 20px;
	line-height: 1.25;
	weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-align:initial
}



/* PONUDA */



#ponudaDiv {
	width: 1300px;     
	margin: 0px auto;
}

.ponudaDiv50left{
	width:50%; 
	margin : 0; 
	float : left;
}

#ponudaDiv50leftd{
	margin: 100px; 
	margin-top: 200px;
}

#ponudaDiv50leftd a{
	color: red;
} 

.banerTelefonLeft {
	width:45%; 
	margin : 0; 
	float : left ; 
	background-color: #e6e6e6; 
	height: 600px;
	border-radius: 15px;
}

.banerTelefonRight {
	width:45%; 
	margin : 0; 
	float : right; 
	background-color: #e6e6e6; 
	height: 600px;
	border-radius: 15px;

}

.popust {
	color: white; 
	background-color: #388dff; 
	width: 100%; 
	line-height: 150%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

}

.outofstock {
	color: white; 
	background-color: red; 
	width: 100%; 
	line-height: 150%;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 32px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;

}

.model {
	height: 100px; 
	width: 100%; 
	padding: 20px 0 0 20px;
	color:rgb(128, 128, 128);
	font-size: 16;
	font-weight: 400;
	line-height: 1.5;
	
}

.cena {
	width: 86%; 
	border-top: 1px solid rgba(0,0,0,.1); 
	margin-left: auto;
	margin-right: auto;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	padding-top: 15px;
	
}



.precrtano {
	font-size: 15px;
	line-height: 1.5;
	font-weight: 400;
	color: rgb(128, 128, 128);
	text-decoration: line-through;
}

.bigCena {
	font-size: 24px;
	line-height: 1.5;
	font-weight: bold;

}

.paket {
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}


.telefonButton {
	color: black; 
	background-color: #c4c4c4; 
	margin-left: 20px; 
	height: 40px;
	border-radius: 15px;
	padding: 7px;
	transition: 0.4s;
}

.telefonButton:hover {
	background-color: #a09f9f;
	transform: scale(1.05);

}

.telefonButton span {
	padding: 40px 20px 40px 20px; 
	line-height: 40px; 
	height: 40px; 
	margin-top: 25px;
}

#ponudaDiv50leftd h3 {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	color: rgb(187, 187, 187)
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#ponudaDiv50leftd h2 {
	font-size: 60px;
	line-height: 1.25;
	font-weight: 700;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#ponudaDiv50leftd p {
	font-size: 18px;
	line-height: 1.25;
	font-weight: 400;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin-top: 20px;
	margin-bottom: 20px;

}


.model p {
	color:black;
	font-size: 22;
	font-weight: 600;
	line-height: 1.5;
	font
}


.mobimg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	transition: 0.7s;
}

.mobimg:hover {
	transform: scale(1.05);
}




/*LJUBICASTI SECTION*/





#ljubicastiSection {
	background-color: blueviolet; 
	height: 500px; 
	margin-top: 100px;
	color: white
}

.left50purple {
	width: 49%; 
	float: left;
	margin-top: 40px;
}

.right50purple {
	float: right;
	width: 49%;
	margin-top: 40px;

}

.infoPar {
	text-align: center; 
	height: 250px;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.infoPar img {
	border: 3px white solid;
	border-radius: 50%;
	padding: 2px;
	background-color: #cdbfd9;
}

.infoPar p {
	line-height: 2;
}

#gornjiPar {
	margin-top: 20px;
}

.left50purple h3, .right50purple h3 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 40px;
	font-weight: 700;
}

#p2 {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 170%;
	color: rgb(156, 158, 178)
}



/*PROMO PAKETI*/





#promoDiv {
	margin: 100px auto; 
	border-top: 1px solid #000;
}

#promoDiv + div{
	margin-top: 100px;
}

#promoDivTextContainer {
	width:60%; 
	margin : 0; 
	float : left ;
}

#promoDivText {
	margin:100px; 
	margin-top: 150px;
}

#promoDivText a {
	color: red;
}

#promoPic {
	width: 40%; 
	position: relative;
}

#promoShopping {
	width: 100%; 
	margin: 5px 0px 50px 0px; 
	float:left; 
	position:absolute;
	border-radius: 15px;

}

.badge {
	margin-left: -90px; 
	margin-top: 100px; 
	width: 200px; 
	float:left; 
	position:absolute;
	transition: 0.5s;
}

.badge:hover {
	transform: scale(1.1);
}


#promoDivText h2 {
	font-size: 40px;
	line-height: 1.25;
	font-weight: 700;
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#promoDivText h4 {
	margin-top: 5px;
	margin-bottom: 2px;
	font-size: 17px;
	line-height: 1.5;
	font-weight: 400;
	color: rgb(187, 187, 187)
	font-weight: bold;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* PROIZVODI */

/* FILTERI */


#filterWrapper {
	width: 300px;
	float: left;
	margin-top: 200px;
	position: fixed;
}

#storeWrapper {
}

.leftUl {
	float:left
}


.rightUl {
	float:right
}

#filterDiv {
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
	height: 500px;
	border-radius: 15px;
	background-image: linear-gradient(225deg, #F7EDFF 0%, #FDF8E1 47%, #F7F7F7 100%);
	box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
}

#filterDiv h3 {
	padding-top: 20px;
	padding-left: 25px;
}

,filter ul li {
	color: #585858;
}


/* CUSTOM CHECKBOX */


.container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin-left: 25px;
	margin-right: 25px;
	margin-top: 30px;
}

.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.container:hover input ~ .checkmark {
	background-color: #ccc;
}

.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.container input:checked ~ .checkmark:after {
	display: block;
}

.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}


/* RADIO B */

.checkmark1 {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.container1 .checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
      }


/* PROIZVODI STORE */

.phones3 {
	width: 72%;
	margin : 0; 
	float : right;
	margin-bottom: 40px;
}

.phones3in1 {
	width:32%; 
	margin : 0; 
	float : left ; 
	background-color: #e6e6e6; 
	height: 600px;
	border-radius: 15px;
}

.left3phone {
	margin-left: 15px;
}

.productsWrapper {
	margin-top: 0px;
}

#firstRowM {
	margin-top: 200px;
}